<h1>Bien le bonjour, <%= @user.first_name %> <%= @user.last_name %></h1>

<p>
  Bonjour, votre connection à hopfit a bien été enregistrée, bienvenue sur votre nouvelle plateforme de sport pas cher.
</p>

