
.gym-banner {
  color: #FDECDA;
  text-align: center;
  height: 60vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  justify-content: center;
  background-position: center;
  background-image: linear-gradient(-225deg, rgba(52, 18, 0, 0.6) 0%, rgba(110, 55, 0, 0.4) 50%);
  position: relative;
}

.gym-banner-title{
  padding: 100px 50px;
  background-color: rgba(8, 76, 97, 0.3);
  border-radius: 6px;
}

.gym-name {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: white;
  background-color: rgba(8, 76, 97, 0.3);
  font-size: 50px;
  margin-right: 40px;
  padding: 35px;
}


@media only screen and (min-width : 1200px) {
.gym-wrapper {
   display: flex;
  }
}


.details {
  flex: 5;
  margin-left: 30px;
  max-width: 800px;
}

.details-mobile {
  // overflow: auto;
  margin-left: 30px;
  max-width: 800px;
}

.details h1 {
  margin-left: 60px;
  margin-top: 40px;
}

.offre {
  flex: 1;
  align-items: center;
  height: 90%;
  width: 50%;
  border: solid 1px;
  border-color: #f4f4f4;
  padding: 0px 80px 10px 80px;
  color: white;
  background-color: #423e3e;
  text-align: center;
}

.detail-offre {
  border-bottom: solid 1px;
  border-color: white;
  padding-bottom: 20px;
}

.offre-fixed {
  flex: 1;
  margin-left: 140px;
  margin-right: 160px;
  height: 90%;
  border: solid 1px;
  border-color: #f4f4f4;
  padding: 0px 80px 50px 80px;
  margin-bottom: 5px;
  color: white;
  background-color: #423e3e;
  text-align: center;
}

.offre-mobile {
  height: 100%;
  border: solid 1px;
  border-color: #f4f4f4;
  width: 160;
  padding: 0px 80px 0px 80px;
  color: white;
  background-color: #423e3e;
}

.offre-mobile h2 {
  text-align: center;
}

.btn-mobile-fixed {
  width: 100%;
  position: fixed;
  bottom: 0px;
}

.btn-mobile {
  width: 100%;
}

.entry {
  font-size: 25px;
  text-align: center;
}

.price {
  font-size: 35px;
  font-weight: bolder;
  color: #ff4f4f;
  text-align: center;
}

.details-title {
  font-weight:bolder;
  border-bottom: 1px solid;
  border-color: #f4f4f4;
  padding: 20px;
}

.description {
  font-weight: lighter;
  text-align: left;
  padding-top: 20px;
}


.opening_hours {
  font-weight: lighter;
}


.services {
  font-weight: lighter;
}


.equipments {
  font-weight: lighter;
}

.modal-content {
  padding: 40px;
}

.address {
  font-weight: lighter;
}

.details-title-address {
  padding-bottom: 30px;
}

.photo-show {
  margin: 30px;
  padding: 3px;
  border: solid 1px;
  border-color: #e0e0e0;
}

#map-show {
  margin: 30px;
  padding: 10px;
  border: solid 1px;
  border-color: #e0e0e0;
  width: 60%;
}

.address-map {
  align-items: center;
  padding: 20px 80px 50px 80px;
}

.address-map-elements {
  text-align: center;
  padding-top: 5px;
}


