.wrapper-index {
  display: flex;
}

.cards-index{
  margin-left: 20px;
  margin-right: 20px;
}

.map-index{
  width: 100%;
  height: calc(100vh - 70px);
}

.map-position {
  display: block;
  position: fixed;
  right: 0px;
  padding: 0px !important;
  top: 70px;
  bottom: 70px;
}
