.payment-wrapper {
  height: 90vh;
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment-form {
  padding: 20px
}
