<div class="banner">

  <div class="banner-center">
    <p class='slideRight'> Trouvez votre salle en quelques clics !</p>
    <div class="small-iphone">Le sport sans frais en 3 clics !
    </div>
      <%= simple_form_for(:search, on: :collection, url: search_gyms_path, method: :get) do |f| %>
    <div class="search-form">
      <%= f.input :query, label: false %>
      <%= f.button :submit, "Chercher", class: "search-button" %>
      <% end %>
    </div>

    <%= link_to "Toutes nos salles", gyms_path, class: "banner-wagon-button" %>
  </div>
</div>

