<div class="banner">

  <div class="banner-center">
    <h1 class='slideRight' > Le sport pas cher et sans engagement ! </h1>
    <p class='slideRight'> Trouvez votre salle en quelques clics </p>
    <div class="small-iphone">Le sport sans frais en trois clics !</div>


    <div class="container">
      <div class="row">
        <%= simple_form_for(:search, on: :collection, url: search_gyms_path, method: :get) do |f| %>
        <%= f.input :query %>
        <%= f.button :submit, "Search" %>
        <% end %>
        <%= link_to "Trouvez votre salle", gyms_path, class: "banner-wagon-button" %>
      </div>
    </div>
  </div>
</div>

