<div class="row" style="margin-top: 70px;">
  <div class="col-xs-12 col-md-7">
    <div class="cards-index">
      <%= render "shared/cards" %>
    </div>
  </div>
  <div class="col-md-5 hidden-xs hidden-sm map-position">
    <div class="map-index" id="map">
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function() {
var handler = Gmaps.build('Google');
handler.buildMap({
provider: {
scrollwheel: false},
internal: {
id: 'map'
}
}, function() {
markers = handler.addMarkers(
<%= raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}

});
});
<% end %>
<% end %>
