.btn-blue{
  background-color: #3b5998 !important;
  color: white !important;
  font-size: 20px;
  font-family: 'Alegreya Sans', sans-serif !important;
}

.btn-red{
  background-color: #FF4F4F !important;
  color: white !important;
  font-family: 'Alegreya Sans', sans-serif !important;
  font-size: 20px !important;
  text-decoration:none;
  a {
    color:white;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

.btn-blue:hover{
  color: white !important;
}

.banner-wagon-button {
  margin: 5px 10px;
  padding: 5px 10px;
  border-radius: 5px;
  line-height: 40px;
  background-color: #FF4F4F;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.3em;
  font-weight: 200;
  color: white;
  transition: .3s ease;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
}

.banner-wagon-button:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  padding: 7px 20px;
}

.facebook-button {
  background-color: #3b5998;
  margin: 10px 5px;
  padding: 5px;
  border-radius: 5px;
  line-height: 30px;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.3em;
  font-weight: 200;
  color: white;
  transition: .3s ease;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
  text-decoration: none;
}

.facebook-button:hover{
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  padding: 7px 20px;
}

#form-button {
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
  line-height: 40px;
  background-color: #FF4F4F;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.3em;
  font-weight: 200;
  color: white;
  transition: .3s ease;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
}
#form-button:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  padding: 7px 20px;
}

.btn-show {
  background-color: #ff4f4f;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.btn-show:hover {
  background-color: #fc4646;
}
